.App {
  text-align: center;
}

.cal-container {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 20px;

  width: 400px;
  height: 600px;
}

.row-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.row-val {
  padding: 20px;
  background-color: #131232;
  width: 100%;
  cursor: pointer;
  font-size: 1.4em;
  outline: 1px solid #030207;
  color: white;
}

.row-val-equal {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 1.4em;
  outline: 1px solid orange;
}

.row-val.operator {
  background-color: #262758;
  color: white;
}

.row-val-equal.operator {
  background-color: orange;
  color: white;
}

.cal-display {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  width: 100%;
  outline: 1px solid black;
}

.display-val {
  padding: 10px;
  font-size: 2em;
  word-break: break-word;
}
